
@font-face {
  font-family: 'SHRIFT';
  src: local('SHRIFT'), local('SHRIFT Regular'), url('../fonts/SHRIFT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kramola';
  src: local('Kramola'), local('Kramola Regular'), url('../fonts/ofont.ru_Kramola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
